*{
    padding: 0;
    margin:0;
    text-align: center;
    box-sizing: border-box;
}

body{
    background-color: #ff97b7;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.hearts{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 100%;
    height: 100vh;
    padding: 10px;
    
    /* overflow: hidden; */
}
.heart{
    position: absolute;
    bottom:0;
    width: 5px;
    height: 5px;
    background-color:red;
    transform: rotate(45deg);
    animation: float 5s ease-in-out infinite forwards;
}
 .heart::before,
 .heart::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:red;
    border-radius: 50%;
    
 }
 .heart::before{
   
    top:0;
    left: -4px;
    
 }
 .heart::after{
    right: 0;
    top: -4px;
 }


button{

    margin: 5rem auto;
    width:5rem;
    height: 5rem;
    border-radius: 5px;
    background-color: #cc315d;
    color: white;
    animation:bounce 2s  0s infinite normal forwards;
    border: 2px solid #172c44;
    outline: none;
    
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

p{
    margin:5rem 2rem;
    font-size: 2rem;
    color: #172c44;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Amatic SC', cursive;
    animation: glow 2s infinite,wave 1.5s ease-in-out infinite,zoomIn 1s ease-in-out;
        animation-delay: calc(0.1s * var(--i)); 
}

.text-effect{ 
    animation: zoomIn   1s ease-in-out,glow 2s infinite;   
  
}


.heart:nth-child(1) {
    left: 10%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.heart:nth-child(2) {
    left: 20%;
    animation-duration: 6.5s;
    animation-delay: 0.5s;
}

.heart:nth-child(3) {
    left: 30%;
    animation-duration: 7s;
    animation-delay: 1s;
}

.heart:nth-child(4) {
    left: 40%;
    animation-duration: 6.5s;
    animation-delay: 1.5s;
}

.heart:nth-child(5) {
    left: 50%;
    animation-duration: 7.5s;
    animation-delay: 2s;
}

.heart:nth-child(6) {
    left: 60%;
    animation-duration: 6s;
    animation-delay: 2.5s;
}

.heart:nth-child(7) {
    left: 70%;
    animation-duration: 6.5s;
    animation-delay: 3s;
}

.heart:nth-child(8) {
    left: 80%;
    animation-duration: 7s;
    animation-delay: 3.5s;
}

.heart:nth-child(9) {
    left: 90%;
    animation-duration: 6.5s;
    animation-delay: 4s;
}

.heart:nth-child(10) {
    left: 100%;
    animation-duration: 7.5s;
    animation-delay: 4.5s;
}
@keyframes float {
    0%{
        transform: translateY(100vh)rotate(45 deg) scale(0.8);
        opacity: 0;
    }
    10%,30%,60%,80%{
        opacity: 0.5;
        transform: translate(calc(100vh-20vh))rotate(45deg) scale(1);
    }
    20%,40%,70%,90%{
        opacity: 0.8;
        transform: translate(calc(100vh-20vh)) rotate(45deg) scale(1.2);
    }
    50%{
        transform: translateY(50vh) rotate(45 deg) scale(1.5);
        opacity: 0.5;
    }
    100%{
        transform: translateY(-100vh) rotate(45deg)scale(0.6);
        opacity: 0;
    } 
}


@keyframes bounce{
    50%{
        transform: translatey(20px);
    }    
}
@keyframes bounce2 {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateX(20px);
    }
    
    50% {
       transform: translateY(-20px);
    }
    75%{
        transform: translateX(-20px);
    }
    100%{
        transform: translate(0px);
    }
}
@keyframes move
{
    0%,100% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    
}
@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
@keyframes glow {

    0%,
    100% {
  
        text-shadow:
                0 0 5px #a32272,
                0 0 10px #a32272,
                0 0 20px #a32272;
            

    }

    50% {
        text-shadow:
            0 0 10px #c9184a,
            0 0 20px #c9184a,
            0 0 40px #c9184a; 
        
    }

}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes revealText {
    0% {
        transform: scale(0.2) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}
